
.addServicesWrap{
  width: 900px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  border-radius: 5px;

}
.singleForm{
  margin-bottom:15px;
}
.submitBtn{
  width: 50%;
  background: #42A1DA;
  margin: 0 auto;
  color: white;
  height: 37px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleForm :where(input, textarea){
    border: 1px solid #42A1DA;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.singleForm textarea{
    height:150px;
    resize: none;
}
.singleForm label{
    display: block;
}
.singleForm textarea, .inputField:focus, .singleForm select{
  outline: none;

}
.role{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.role :where(select, input){
  width:400px;
  height:50px;
  border-radius: 20px;
  border:1px solid #42A1DA;
  padding-left:5px;

}
.role :where(select, input):focus{
 outline:none;

}

@media only screen and (max-width:768px) {
  .addServicesWrap {
    width: 700px;
  }
  
}
@media only screen and (max-width:500px) {
  .addServicesWrap {
    width: 400px;
    padding:20px 15px;
  }
  
}
@media only screen and (max-width:400px) {
  .addServicesWrap {
    width: 300px;
  }
  
}