.addJobCardWraps {
	width: 100%;
	padding: 25px 20px;
	overflow: hidden;
}
.jobCardFormWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
}
.jobCardFormWrap input:focus,
.jobCardSingleForm input:focus,
.vehicleTextField textarea,
.vehicleReportLeftSide textarea {
	outline: none;
}
.jobCardFormWrap input {
	border: 1px solid #896eff;
	padding: 5px;
	border-radius: 10px;
}

.trustAuto {
	font-family: 'Merriweather', serif;
	word-spacing: 12px;
	letter-spacing: 3px;
	font-size: 68px;
	margin-left: 20px;
	color: #11054e;
}

.jobCardFormWrap label {
	display: block;
}
.jobCardSingleForm {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1.5rem;
}
.jobCardSingleForm label {
	display: block;
}
.jobCardSingleForm input,
.jobCardSingleForm select {
	width: 18rem;
	height: 3rem;
	border: 1px solid #896eff;
	border-radius: 5px;
	padding: 5px;
}
.jobCardSingleForm2 input::placeholder {
	font-size: 13px !important;
}
.vehicleCard,
.vehicleCard2 {
	box-shadow: #896eff 0px 3px 2px 3px;
	font-size: 2rem;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 8px;
	width: 20rem;
	text-align: center;
	margin: 25px auto;
}
.vehicleCard2 {
	width: 18rem;
	font-size: 1.5rem;
}
.vehicleTextField textarea,
.vehicleReportLeftSide textarea,
.vehicleReportRightSide textarea {
	width: 100%;
	resize: none;
	border: 1px solid #896eff;
	height: 180px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}
.vehicleReportLeftSide textarea {
	height: 228px;
}
.vehicleReport {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.vehicleReportLeftSide {
	width: 50%;
	padding-right: 20px;
}
.vehicleReportRightSide {
	width: 50%;
	position: relative;
}
.vehicleReportRightSide textarea {
	height: 100px;
}
.imgWrap {
	border: 1px solid #896eff;
	padding: 15px;
	height: 650px;
	border-radius: 5px;
}
.imgWrap img {
	width: 100%;
	height: 100%;
}

.jobCardSingleForm2 input,
.jobCardSingleForm2 select {
	width: 14.4rem !important;
}
.inputSelectWrap {
	width: 14.4rem;
	height: 3rem;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #896eff;
	border-radius: 5px;
	padding: 5px;
}
.inputSelectWrap input {
	border: none;
	width: 12rem !important;
}
.requiredStart {
	color: red;
}
.inputSelectWrap select {
	border: none;
	border-right: 1px solid #896eff;
	border-radius: 0%;
	width: 6rem !important;
}
.table :where(th, tr, td) {
	text-align: center;
}
.signature b {
	position: relative;
}
.signature b::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background: black;
	left: 0;
	top: 0;
}
.addInvoic button {
	width: 153px;
	height: 40px;
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid #351e98;
	transition: all .5s ease-in-out;
}
.addInvoic button:hover {
	background-color: #351e98;
	color: #fff;
}
.textEditor {
	border: 1px solid #351e98;
	height: 200px;
	border-radius: 10px;
}
.textEditor:nth-child(2),
.textEditor:nth-child(3) {
	height: 285px;
}
.qutationForm {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.qutationForm input {
	border: 1px solid #351e98;
	border-radius: 5px;
	padding: 10px 5px;
}
.invoicForm input {
	width: 280px;
}

.qutationForm input:focus {
	outline: none;
}
.orderNumber {
	width: 130px !important;
}
.labelWrap label {
	position: relative;
	left: -65px;
	font-weight: bold;
}

.hideBorder {
	border: none;
}
.hideBorder2 {
	border-left: none;
	border-bottom: none;
}
.searchGroup input:focus {
	outline: none;
}
.searchGroup {
	display: flex;
}
.searchGroup input {
	border: 1px solid #351e98;
	padding: 5px;
	border-radius: 5px;
}
.interiorList {
	list-style: number;
	padding-left: 25px;
}
.updateJobCardBtn {
	display: flex;
	justify-content: center;
	margin-top: 33px;
}
.legend {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
.legend ol li {
	list-style-type: number;
	font-size: 14px;
}
@media only screen and (max-width: 1024px) {
	.jobCardSingleForm input {
		width: 100% !important;
	}
	.trustAuto {
		font-size: 52px;
	}
}
@media only screen and (max-width: 1024px) {
	.jobCardSingleForm label {
		font-size: 12px;
	}
	.vehicleCard {
		font-size: 23px;
	}
}
@media only screen and (max-width: 768px) {
	.trustAuto {
		font-size: 30px;
		margin-left: 0px;
	}
	.qutationForm {
		justify-content: left;
	}
	.vehicleCard,
	.vehicleCard2 {
		font-size: 19px;
		width: 12rem;
	}
	.jobCardFormWrap input {
		width: 105px;
	}
	.buttonGroup button {
		margin-bottom: 8px;
	}
	.buttonGroup {
		align-items: normal;
	}
	.SearchBtn {
		width: 65px;
		font-size: 13px;
	}
	.jobCardSingleForm label {
		font-size: 11px;
	}
}
