

@keyframes animate_left {
  0% {
    opacity: 0;
    margin-left: -500px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes animate_right {
  0% {
    opacity: 0;
    margin-left: 90px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes heroBackground {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
  }
  }
.header {
  height: 85vh;
  position: relative;
background: radial-gradient(farthest-side at 80% 80%, #FF333D, #F87015, #541283fb, #F87015, #951FE8, #F87015);
  animation: heroBackground 20s ease-in-out infinite;
  background-size: 300% 300%;

}
.navsBarWrap{
  width:1300px;
  margin:0 auto;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: 0;
  clip-path: polygon(0px 10%, 0 100%, 100% 100%);
  background:white;
  
}



.header-content {
  width: 100%;
  display: flex;
  position:relative;
}
.right-side{
    position:relative;
    top:50px
}

.header-content .right-side, .header-content .left-side {
  width: 650px;
  margin: 0 au;
}

.left-side {
  padding-top: 100px;
  padding-left: 50px;
}

.left-side h1 {
  font-size: 49px;
  color: #fff;
  margin-bottom: 0px;
  animation: animate_left 2s 1 ease;
}

.left-side p {
  animation-delay: 1s;
  animation: animate_right 2s 1 ease;
  color: #fff;
}

.ExploreBtn{
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 19px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-top:10px;
  animation-delay: 0.5s;
  animation: animate_left 2s 1 ease;
  transition:all .5s ease-in-out;
  border: 1px solid #f87015;
}

.ExploreBtn:hover {
    background: linear-gradient(to right, #951fe8, #f87015);
    color:white;
    border:1px solid white;
}

.right-side {
  text-align: right;
}
.right-side img {
  width: 500px;
}

@media only screen and (max-width:1024px){
  .header {
    height: 95vh;
    width:100%;
  }
  .navsBarWrap{
    width:100%;
  }
  .header:before {
    clip-path: polygon(0px 10%, 0 100%, 100% 100%);
    
  }
  .left-side h1 {
    font-size: 45px;
}

.right-side {
  width:400px !important;
 }


.right-side img {
  width: 100%;
  object-fit: cover;
}
.left-side {
  padding-top: 100px;
  padding-left: 0px;
  width: 600px !important;
  padding-right: 111px;
}

}

@media only screen and (max-width:768px){
  .left-side {
    width: 545px !important;
    padding-top: 45px;
    padding-left: 3px;
    padding-right: 4px;
  }
  .left-side h1 {
    font-size: 38px;
}
.header {
  height: 75vh;
  width: 100%;
}

}

@media only screen and (max-width:500px){

.header {
  height: 100%;
}
.header-content {
  flex-direction: column-reverse;
}
.header-content .right-side, .header-content .left-side {
  width: 100% !important;
}
.left-side {
  padding: 0 20px !important;
  margin-top: 65px;
}
.ExploreBtn {
  width: 137px;
  padding: 5px;
}


}

@media only screen and (max-width:400px){
  .left-side h1 {
    font-size: 32px;
}
}