.invoicePrintWrap {
	background-color: #ddd;
	padding: 50px 0;
}

.invoiceHead {
	width: 782px;
	margin-left: 20px;
}

.invoicePrint {
	width: 8.27in;
	margin: 0 auto;
	background-color: #fff;
	min-height: 11in;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.firstInputField {
	width: 80px;
}

.thirdInputField {
	width: 150px;
}

.secondInputField {
	width: 580px;
}

.SearchBtn {
	width: 100px;
	height: 40px;
	background: #42a1da;
	color: #fff;
	border-radius: 5px;
	margin-left: 10px;
}

.searcList select {
	border: 1px solid #42a1da;
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.discountFieldWrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.discountFieldWrap input,
.discountFieldWrap span {
	border: 1px solid #42a1da;
	margin-bottom: 7px;
	height: 45px;
	border-radius: 5px;
	padding-left: 5px;
	width: 148px;
}

.discountFieldWrap span {
	display: flex;
	justify-content: left;
	align-items: center;
}

.addInvoiceItem {
	position: absolute;
}

.labelWrap label {
	display: block;
	position: absolute;
}

.labelWrap label:nth-child(1) {
	left: 5px !important;
}

.labelWrap label:nth-child(2) {
	left: -117px !important;
}

.labelWrap label:nth-child(3) {
	left: 201px !important;
}

.labelWrap label:nth-child(4) {
	left: 52px !important;
}

.labelWrap label:nth-child(5) {
	left: -2px !important;
}

.buttonGroup {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.buttonGroup button {
	background: #42a1da;
	color: #fff;
	margin-right: 5px;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
}

.buttonGroup button:hover {
	background-color: #37a248;
}

.submitQutationBtn {
	width: 200px;
	text-align: center;
}

.submitQutationBtn button {
	background: #42a1da;
	color: white;
	width: 200px;
	height: 40px;
	border-radius: 20px;
}

.invoiceCard {
	text-align: center !important;
	width: 15rem !important;
	margin: 28px auto;
}

.trustAutoTitleQutation {
	font-size: 65px !important;
	
}
.qoutationTitle{
	font-size: 52px !important;
}



.invoicTable td,
.invoicTable th,
.invoicTable tr,
.invoiceTable2 td,
.invoiceTable2 th,
.invoiceTable2 tr {
	border: 1px solid #c0c2c1;
	text-align: center;
	font-size: 10px !important;
}

.invoiceTable2 th {
	background: #4671a1;
	color: #fff;
}

.printInvoiceBtnGroup {
	margin-left: 210px;
	margin-top: 30px;
}

.printInvoiceBtnGroup button {
	background: #42a1da;
	color: #fff;
	border-radius: 20px;
	margin-right: 5px;
	width: 69px;
	height: 30px;
	font-size: 14px;
}

.customerSignatureWrap, .customerSignatureWrap2{
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
	margin-top: 25px;
}


.customerSignatur {
	position: relative;
	bottom: 0;
}

.customerSignatur::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	background: black;
	left: 0;
}
.invoicTable {
	display: flex;
}
.invoicTable th,
.invoicTable tr {
	display: block !important;
	padding: 1px 5px;
}
.inVoiceTables td,
.invoicTable td {
	border: none;
}
.invoicTable td {
	width: 275px;
}

.inVoiceTables td {
	width: 600px !important;
	border: none;
}
.invoicTable th {
	border: none;
}
.invoicTable th:first-child {
	border-bottom: 1px solid;
}


@media only screen and (max-width: 1024px) {
	.invoiceHead {
		width: 100%;
	}

	.trustAuto {
		font-size: 50px;
	}

	.invoicForm input {
		width: 182px;
	}

	.qutationForm {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		flex-wrap: wrap;
		gap: 5px;
	}

	.thirdInputField {
		width: 95px;
	}

	.secondInputField {
		width: 345px;
	}

	.labelWrap label {
		font-size: 12px;
	}

	.labelWrap label:nth-child(5) {
		left: 14px !important;
	}

	.labelWrap label:nth-child(4) {
		left: 52px !important;
	}

	.labelWrap label:nth-child(3) {
		left: 133px !important;
	}

	.labelWrap label:nth-child(2) {
		left: -37px !important;
	}

	.labelWrap label:nth-child(1) {
		left: 20px !important;
	}
}

@media only screen and (max-width: 768px) {
	.qutationForm {
		flex-wrap: wrap;
		gap: 5px;
	}

	.trustAuto {
		font-size: 30px;
		margin-left: 0px;
	}

	.discountFieldWrap input {
		width: 118px;
	}

	.discountFieldWrap b {
		font-size: 12px;
	}

	.labelWrap label {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.trustAuto {
		font-size: 25px;
	}

	.qutationForm {
		justify-content: center;
	}

	.invoicForm input {
		width: 300px;
	}

	.invoicForm input {
		width: 300px;
	}
}

@media print {
	body {
		background-color: #fff;
	}

	.invoicePrintWrap {
		background-color: #fff;
		padding: 0;
	}

	.buttonGroup,
	.printInvoiceBtnGroup {
		display: none;
	}

	.invoiceTable2 th,
	.invoiceTable2 td {
		padding: 2px;
		margin: 0;
		font-size: 10px;
	}
}
.invoicTable td,
.invoicTable th,
.invoicTable tr,
.invoiceTable2 td,
.invoiceTable2 th,
.invoiceTable2 tr,
.invoiceTable2 th,
.invoiceTable2 td {
	padding-top: 3px !important  ;
	padding-bottom: 3px !important  ;
	margin: 0 !important;
	font-size: 10px !important;
	text-align: center !important;

	body.print-mode {
		color: #000;
		padding-top: -15px !important ;
		font-size: 10px !important;  
		height: 15px !important ; 
	  }
}

@media print {
	body.print-mode {
	  color: #000 !important; 
	  padding-top: 2px !important  ;
	  padding-bottom: 2px !important  ;
	  margin: 0 !important;
	  font-size: 10px !important;
	  text-align: center !important;
	  /* Set the desired text color for print */
	}
	
  }