.addProductWrap {
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
	padding: 30px;
	width: 1050px;
	margin: 0 auto;
}
.productField {
	width: 500px !important;
	margin: 5px !important;
}
.productFieldWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.supplierBox {
	padding: 5px;
	border: 1px solid #ddd;
}
.actionIcon {
	width: 100px;
	display: grid;
	place-items: center;
}
.addItemsWrap {
	border: 1px solid #ddd;
	padding: 8px;
	margin-top: 10px;
}

.addIcon,
.addIcon2 {
	width: 30px;
	height: 30px;
	background: red;
	margin-right: 5px;
	font-size: 20px !important;
	color: #fff;
	padding: 7px;
	cursor: pointer;
	border-radius: 3px;
}
.addIcon2 {
	background: #351e98;
}
.productDetail {
	height: 150px !important;
	border: 1px solid #ddd;
	width: 100%;
	border-radius: 3px;
	padding: 10px;
}
.productDetail:active {
	outline: #351e98;
}
.savebtn button {
	background-color: #351e98;
	padding: 8px;
	margin-right: 5px;
	color: #fff;
	border-radius: 3px;
}
