.addProductWraps {
	background: #ddd;
	padding: 30px 0;
}
.addProductWrap {
	padding: 30px;
	width: 1050px;
	margin: 0 auto;
	background: #fff;
}
.listIcon {
	font-size: 25px !important;
}
.manageProduct {
	background: #37a248;
	width: 136px;
	display: flex;
	color: #fff;
	border-radius: 2px;
	padding: 5px;
}
.productHeadWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	margin: 20px 0;
	padding: 10px 75px;
}
.productField {
	width: 500px !important;
	margin: 5px !important;
}
.productFieldWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.supplierBox {
	padding: 5px;
	border: 1px solid #ddd;
	transition: all .5s ease;
}

.actionIcon {
	width: 100px;
	display: grid;
	place-items: center;
}
.addItemsWrap {
	border: 1px solid #ddd;
	padding: 8px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addItemsWrap:hover {
	background: #341e9852;
}
.addItemsWrap:hover .productField1 {
	background: #fff !important;
	color: black !important;
	border: 1px solid #fff !important;
}
.addIcon,
.addIcon2 {
	width: 30px;
	height: 30px;
	background: red;
	margin-right: 5px;
	font-size: 20px !important;
	color: #fff;
	padding: 7px;
	cursor: pointer;
	border-radius: 3px;
}
.addIcon2 {
	background: #37a248;
}
.productDetail {
	height: 150px !important;
	border: 1px solid #ddd;
	width: 100%;
	border-radius: 3px;
	padding: 10px;
}
.productDetail:active {
	outline: #37a248;
}
.savebtn button {
	background-color: #37a248;
	padding: 8px;
	margin-right: 5px;
	color: #fff;
	border-radius: 3px;
}
.savebtn button:first-child {
	background: #45c203;
}
.invoicIcon {
	color: #45c203 !important;
	font-size: 45px;
}
.productHome {
	border: 1px solid #ddd;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
}
.productHome span {
	transition: all .5s ease;
	color: #37a248;
}
.productHome span::hover {
	color: #37a248;
}
.deleteIcon,
.editIcon {
	font-size: 15px !important;
}

.editIconWrap {
	background: rgb(223, 49, 49);
	width: 25px;
	height: 25px;
	color: #fff;
	margin: 0 auto;
	display: grid;
	place-content: center;
	border-radius: 2px;
	cursor: pointer;
}
.edit {
	background: #37a248;
}
.edit2 {
	background: #42a1da;
}

.addHotel {
	background: #37a248;
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
}

.topProductBtn button {
	border: 1px solid #37a248;
	margin-right: 11px;
	padding: 5px 15px;
	border-radius: 2px;
	transition: all .5s cubic-bezier(0.47, 0.5, 0.86, 0.83);
}
.topProductBtn button:hover {
	background: #37a248;
	color: white;
}
.searchProductField {
	width: 250px !important;
}
.searchBtn2 {
	height: 45px;
}

@media only screen and (max-width: 1024px) {
	.addProductWrap {
		width: 100%;
	}
	.productHeadWrap {
		padding: 10px 35px;
	}
}
